.chatbox {
  width: 320px;
  max-height: 500px;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background-color: #fff;
  border-radius: 20px;
  min-height: 35px;
}

.botIcon {
  width: 72px;
  height: 72px;
  position: absolute;
  bottom: -15px;
  left: -9px;
}

.messages {
  position: relative;
  width: 320px;
  overflow-y: auto;
}
.message .text {
  padding: 7px;
  margin: 7px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.message.user {
  text-align: right;
}

/* .user-msg-arrow{
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #ccc;
  position: absolute;
  right: 54px;
  top: 100px;
} */

.message.user .text {
  background-color: #ccc;
}

.message.user .text::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #ccc;
  position: absolute;
  right: -7px;
  top: 50%;
  transform: translateY(-50%);
}

.message.bot .text {
  background-color: #00218C;
  color: #fff;
}

.input-area {
  display: flex;
  margin-top: 5px;
  padding-left: 55px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: 0;
  outline:0;
  margin-right: 10px;
  flex-grow: 0.9;
}

.input-area input:focus {outline:none!important;}

.input-area button {
  flex: 1;
  padding: 10px 20px;
  background-color: #00218C;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  flex-grow: 0.1;
}
.bot-container {
  display: flex;
  margin: 15px 0;
  justify-content: flex-start;
  align-items: center;
}
.bot-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 12.5px;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00218C;
}

.bot-avatar p {
  color: #ffffff;
}

.bot-msg-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #00218C;
  position: absolute;
  left: 49px;
  top: 37px;
}

.bot-msg {
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: medium;
  position: relative;
  width: 184.5px;
  margin-left: auto;
  text-align: left;
}

.user-container {
  display: flex;
  margin: 15px 5px;
  justify-content: flex-start;
  align-items: center;
}

.bot-container1 {
  display: flex;
  margin: 15px 5px;
  justify-content: flex-end;
  align-items: center;
}

.user-avatar {
  overflow: hidden;
}

.user-icon {
  font-size: 0.4em; /* change font size should change size of icon */

  margin: 1em; /* remove this line to avoid float/margin */
}
.user-icon {
  border-radius: 4em;
  border: 3px solid #C7CADB;
  height: 6em;
  width: 6em;
  background: #00218C;
  padding: 0.1em;
}

.user-icon span {
  color: #fff;
  font-family: "Helvetica Neue-Bold", Helvetica;
  font-size: 15px;
  line-height: 37px;
  font-weight: 700;
  text-align: center;
  width: 37px;
  display: block;
}

.bubble {
  position: relative;
  background: #fff;
  color: #00218C;
  font-family: "Helvetica Neue-Regular", Helvetica;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  box-shadow: -1px 3px 11px -1px rgba(163, 163, 163, 0.36);
  text-align: left;
  width: 270px;
  min-height: 40px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.bubble:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 18px 23px 0 0;
  border-color: #fff transparent transparent transparent;
  bottom: -18px;
  left: 8%;
  margin-left: -11.5px;
}

.user-container .message-text {
  width: 75%;
  margin-left: 10px;
}

.user-container .bubble {
  padding-left: 5px;
}

.bot-container1 .bubble {
  box-shadow: -1px 3px 11px -1px rgba(163, 163, 163, 0.36);
}
.bot-container1 .bubble:after {
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0 24px 20px 0;
  border-color: transparent #ffffff transparent transparent;
  bottom: -20px;
  left: 94%;
  margin-left: -12px;
}

.filters {
  margin-bottom: 10px;
  background: #fff;
  color: #001b75;
  border-radius: 22px;
}

.filters h4 {
  margin: 0 0 10px;

}

.filters ul {
  padding-left: 0;
  margin-bottom: 0;
}

.filters ul li {
  list-style: none;
}